#!/bin/bash

# config options

cluster="tango"
mgtnode="tango-m.vpac.org"
number_of_compute_nodes=115

# root dir of centos mirror
mirror="rsync://mirror.aarnet.edu.au/centos"
centosversion="5"
arch="x86_64"

# whitespace separated list of known bad kernels
bad_kernel_list="2.6.29-rc1 2.6.29-rc3"

smart_options="-d ata"

ipmi_user=ADMIN

storage_server="stg7"

user_lookup=brett

# source local config

[ -r /etc/recluse_node ] && source /etc/recluse_node
