#!/bin/bash

# config options

cluster="tango"
mgtnode="tango-m.vpac.org"
number_of_compute_nodes=95

# root dir of centos mirror
mirror="rsync://mirror.aarnet.edu.au/centos"
centosversion="5"

# whitespace separated list of hosts without interconnect
nointerconnect=""

compute_node_smart_drives="/dev/sda /dev/sdb /dev/sdc /dev/sdd"
head_node_smart_drives="/dev/sda /dev/sdb /dev/sdc /dev/sdd"
mgt_node_smart_drives=""
smart_options="-d ata"

ipmi_user=ADMIN

storage_server="stg5"
compute_runs_xvfb=1

user_lookup=brett
